<mat-toolbar class="header-home">
  <img src="assets/logoSccon.svg" alt="Logo" class="logo" />
  <div class="actions-header">
    <button 
      ariaLabel="Página inicial"
      mat-raised-button
      routerLink="/"
    > 
      Home 
    </button>
    
    <button 
      mat-raised-button
      ariaLabel="Buscar endereço"
      [matMenuTriggerFor]="menu"
      class="button-menu">
      Endereço
    </button>

    <mat-menu #menu="matMenu" yPosition="below" class="button-submenu">
      <button mat-menu-item [routerLink]="'/busca-cep'">Buscar Endereço</button>
    </mat-menu>
    
  </div>
</mat-toolbar>
