@import './variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

app-header {
  background-color: $navbar-bg-color;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.content {
  text-align: center;
  max-width: 800px;
  width: 100%;
  @media (max-width: 600px) {
    padding: 10px;
  }
}

button, .mat-raised-button {
  background-color: $button-bg-color;
  border-radius: 8px;
  border: none;
  &:hover {
    background-color: $button-hover-bg-color;
  }
}
