$lightslategray: #f8f9fa;

$navbar-bg-color: #670000;
$navbar-text-color: #fff;

$button-bg-color:  #D7DBDD;
// $button-text-color: #fff; 
// $button-border-color: #007bff;
$button-hover-bg-color: darken($button-bg-color, 6%);
//$button-hover-border-color: darken($button-border-color, 10%); // Cor da borda